<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- 配置WEB应用的初始化参数 -->
         <context-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/test</param-value>

      </context-param>


    <servlet>
        <servlet-name>lifeCycleServlet</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.LifeCycleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>genericServletSub</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.GenericServletSub</servlet-class>
        <init-param>
            <param-name>msg</param-name>
            <param-value>hello world</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>httpServletSub</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.HttpServletSub</servlet-class>
        <init-param>
            <param-name>msg</param-name>
            <param-value>hello world</param-value>
        </init-param>
    </servlet>

    <!--LocationServlet 例子
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.http.head.response.LocationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/LocationServlet</url-pattern>
    </servlet-mapping>
    -->
    <!-- servletcontext 例子 -->




    <servlet>
        <servlet-name>servletContextSharedAttr1</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.servletcontext.ServletContextSharedAttr1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servletContextSharedAttr2</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.servletcontext.ServletContextSharedAttr2</servlet-class>
    </servlet>


    <!-- servletconfig 例子 -->
    <servlet>
        <servlet-name>InitServletConfig</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.servletconfig.InitServletConfig</servlet-class>
        <init-param>
            <param-name>msg</param-name>
            <param-value>hello world</param-value>
        </init-param>
    </servlet>

    <!-- servlet 配置 例子 -->
    <servlet>
        <servlet-name>configurationServletForXml</servlet-name>
        <servlet-class>com.wuhao.web.servletNorm.servlet.configuration.ConfigurationServletForXml</servlet-class>
        <init-param>
            <param-name>msg</param-name>
            <param-value>hello world</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>lifeCycleServlet</servlet-name>
        <url-pattern>/lifeCycleServlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>servletContextSharedAttr1</servlet-name>
        <url-pattern>/servletContextSharedAttr1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servletContextSharedAttr2</servlet-name>
        <url-pattern>/servletContextSharedAttr2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>genericServletSub</servlet-name>
        <url-pattern>/genericServletSub</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>httpServletSub</servlet-name>
        <url-pattern>/httpServletSub</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InitServletConfig</servlet-name>
        <url-pattern>/InitServletConfig</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>configurationServletForXml</servlet-name>
        <url-pattern>/configurationServletForXml</url-pattern>
    </servlet-mapping>




</web-app>
